@use "../../../../scss//mixins";
@use "../../../../scss//variables";

#right-panel-container {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  overflow: scroll;
  flex: 1 1 0px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

#button-logout {
  @include mixins.flex-center;
  width: auto;
  height: auto;
  padding: 8px 30px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  border: 1px solid gray;
  outline: none;
  cursor: pointer;
  border-radius: 100px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
