@use "../../../../scss//mixins";
@use "../../../../scss//variables";

#right-panel-container {
  height: 100vh;
  min-height: 100vh;
  overflow: scroll;
  flex: 1 1 0px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
