@use "../../scss/mixins";
@use "../../scss/variables";

.container-screen{
    @include mixins.flex-center;
    @include mixins.full-screen;
    background-color: variables.$main-color;
}


#container-chat{
    border-left: variables.$chat-border;
    border-right: variables.$chat-border;
    display: flex;
    flex: 2 1 100px;
    flex-flow: column wrap;
    height: 100vh;
    position: relative; 
}
