$main-color: #232124;
$darkest-color: #1c1d1e;
$dodgerblue: #1e90ff;
$chat-border: 1px solid rgba(200, 200, 200, 0.1);
$medium-border: 1px solid rgba(200, 200, 200, 0.5);
$input-color: #312f33;

$bp-sm: 600px;
